.header h1 {
    font-family: 'Recursive', sans-serif;
    text-align: center;
    background-color: #e91377;
    font-size: 40px;
    font-weight: 300px;
    color: white;
    width: 68%;
    padding: 20px;
    margin: 0 auto;
    border-style: dotted dashed solid double;
}

h2 {
    padding-top: 50px;
    text-align: center;
}

body {
    margin: 50px;
    background-color: #fbbbd9;
}

.box {
    background-color: #f9509f;
    height: 500px;
    width: 68%;
    ;
    position: relative;
    left: 200px;
    top: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}