body{
    background-image: url("Tracker Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border: 0px;
    margin: 0px 0px;
}
.header h1{
    text-align: center;
    color: #14AE5C;
    font-size: 90px;
}
.textbox{
    text-align: center;
}

input[type="text"]{
    height: 50px;
    width: 300px;
}
.button1{
    background-color: #41BB7A;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    position: center;
}
.button2{
    background-color: #119A51;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    position: center;
}
.button3{
    background-color: #AFF4C6;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    position: center;
}
.buttons{
  margin: 0;
  position: absolute;
  top: 55%;
  padding-left: 42%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.exit{
    margin: 0;
    position: relative;
    top: 55px;
    left: 75px;
    padding-left: 42%;
    
}


