.header h1{
    text-align: center;
    color: #14AE5C;
}
.textbox{
    text-align: center;
    position: center;
}

body{
    padding: 10%;
    background-color: #FFFCF1;
}
button{
    position: relative;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #FFFCF1;
    background: transparent;
    cursor: pointer;
}
.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
