body{
    background-color: #FFFCF1;
}
.header h1{
font-size: 60px;
color: #14AE5C;
position: relative;
left: 50px;
bottom: 10px;
}
.ib1{
    background-color: #F3FDF6;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px; 
    margin: 0 auto; 
    height: 10px;
    width: 250px;
    position: left;
    position: relative;
    bottom: 50px;
    right: 550px;
}
.infobox h2{
    color: #14AE5C;
}

table,th,td{
    border: 1px solid black;
    position: relative;
    left: 30px;
}
#infobox1{
    height: 50px;
    width: 300px;
    background-color:#F3FDF6 ;
    border: 1px solid #ccc;
    position: relative;
    left: 450px;
    bottom: 21px;
    border-radius: 5px;
}
.expenses{
    position: relative;
    left: 370px;
    bottom: 50px;
}
#netincome{
    position: relative;
    left: 700px;
    bottom: 400px;
}
.remaining{
    position: relative;
    left: 430px;
    bottom: 37px;
}
.buttons{
    margin: 0;
    position: absolute;
    top: 55%;
    padding-left: 42%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.addexpense{
    background-color: #abf0c0;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    bottom: 100px;
    right: 230px;
}
.addincome{
    background-color: #abf0c0;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    bottom: 100px;
    right: 230px;
}
.cancel{
    background-color: #AFF4C6;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    left: 105px;
    top: 270px;
}
.save{
    background-color: #58E79B;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    left: 105px;
    top: 270px;
}
.income{
    position: relative;
    left: 30px;
}
